:root {
    --bg:       #FAFAFA;
    --fg:       #151515;
    --black:    #222222;
    --red:      #e01a4f;
    --green:    #87a556;
    --yellow:   #f9c22e;
    --blue:     #43acc7;
    --magenta:  #8E56A4;
    --cyan:     #84dcc6;
    --grey:     #616161;

    --faded:    #EEEEEE
}
