/* basics/variables/colors */
:root {
    --bg:       #151515;
    --fg:       #FAFAFA;
    --black:    #272727;
    --red:      #e01a4f;
    --green:    #87a556;
    --yellow:   #f9c22e;
    --blue:     #43acc7;
    --magenta:  #8E56A4;
    --cyan:     #84dcc6;
    --grey:     #616161;
}

/* titles, content and navigation */

html, body {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 95%;
    background-color: var(--black);
    color: var(--fg);
}

body {
    font: 16px monospace,monospace;
    text-align: justify;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
	text-align:	left;
	text-decoration: none;
    color: var(--green);
    font-size: 18px;
}

hr {
    height: 0.2px;
    background-color: var(--green)
}

#footer {
	text-align:	right;
}

#footer a { 
    color: var(--bg); 
    text-decoration: none; 
}

.footer-logo {
    color: var(--bg);
    width: 18px;
    transition: opacity 0.1s;
}

.footer-logo:hover {
    opacity: 0.5;
}

#main {
	margin: 0 0 0 200px;
    height: 80vh;
}

#main a { 
    color: var(--blue); 
    text-decoration: none; 
}

#main a:hover {
    text-decoration: underline; 
}

#nav {
    float: left;
	text-align:	left;
    height: 80vh;
	border-right: 1px solid var(--grey);
}

#nav li {
    list-style: none;
}

#nav a {
    color: var(--grey); 
    text-decoration: none; 
}

#nav a:hover {
    color: var(--white); 
    text-decoration: underline; 
}

#nav li a {
	display: block;
	margin: 0;
	padding: 0 2em 1.6ex 0.2em;
}

/* Images */
