/* Top / Navigation bar */
#top {
    background-color: var(--bg);
    color: var(--fg);

    font-size: 95%;

    overflow: hidden;
}

.dropdown {
	float: left;
	padding-top: 1%;
	overflow: hidden;
}

.dropbutton {
    background-color: var(--bg);
    color: var(--fg);
	outline: none;
    border: 1px solid var(--fg);
}

.dropdown-content {
	display: none;
	position: absolute;
    border: 1px solid var(--fg);
    min-width: 8%;
	z-index: 1;
}

.dropdown-content a {
	display: block;
	float: none;

    background-color: var(--bg);
	color: var(--fg);

	text-decoration: underline;

	padding: 0.2em 0.4em;
	text-align: left;
}

.dropdown-content a:hover {
	color: var(--green);
}

.dropdown:hover .dropdown-content {
	display: block;
}
