<div id="bottom">
  <div id="links">
    <a href="https://github.com/duclos-cavalcanti/"><img id="links-logo" src="/assets/images/github.svg" alt="github"></a>
    <a href="https://www.linkedin.com/in/daniel-duclos-cavalcanti/"><img id="links-logo" src="/assets/images/linkedin.svg" alt="linkedin"></a>
    <a href="https://leetcode.com/duclos-cavalcanti/"><img id="links-logo" src="/assets/images/leetcode.svg" alt="leetcode"></a>
  </div>
  <div id="mail">
    <a href="mailto:me@duclos.dev">me@duclos.dev</a>
  </div>
</div>
