<div id="menu">
  <a href="mailto:daniel.duclos.cavalcanti@gmail.com"><img class="menu-logo" src="assets/images/gmail.svg" alt="gmail"></a>
  <a href="https://github.com/duclos-cavalcanti/"><img class="menu-logo" src="assets/images/github.svg" alt="github"></a>
  <a href="https://www.linkedin.com/in/daniel-duclos-cavalcanti/"><img class="menu-logo" src="assets/images/linkedin.svg" alt="linkedin"></a>
</div>
<div id="nav">
  <ul>
    <li><a href="/">~/</a></li>
    <li><a href="/about">About/</a></li>
    <li><a href="/resume">Resume/</a></li>
    <li><a href="/projects">Projects/</a></li>
    <li><a href="/blog">Blog/</a></li>
  </ul>
</div>
