:root {
    --bg:       #F6F5F4;
    --fg:       #1D1D1D;
    --black:    #1D1D1D;
    --red:      #ED333B;
    --green:    #57E389;
    --yellow:   #FF7800;
    --blue:     #62A0EA;
    --magenta:  #9141AC;
    --cyan:     #5BC8AF;
    --grey:     #9A9996;

    --faded:    #EEEEEE
}
